

    <!-- Résultats du recherche  -->

    <!-- Start: Header -->
    <div class="header-blue">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container"><a class="navbar-brand" href="index.html">Foogle</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    
                    <form class="form-inline mr-auto" target="_self" >
                        <div class="form-group"><label for="search-field"></label>
                            <input class="form-control search-field" type="texte"  placeholder="Saisir le nom du produit" ng-model="search" id="search-field">
                            <a class="btn btn-primary fa fa-search" href="#!search/{{search}}/1"></a>
                            
                        </div>
                    </form>

                    <span class="navbar-text"> </span><a class="btn btn-light action-button" role="button" href="#">Contactez-nous</a></div>
            </div>
        </nav>
    </div>
    <!-- End: Header -->
    <!-- Start: Article List -->
    <div class="article-list"  >
        <div class="container" ng-controller="data">
            <!-- Start: Intro -->
            <div class="intro" >
                <h2 class="text-center">Resultats de la recherche: {{ search }} {{ code }}</h2>
                
            </div>
            <!-- End: Intro -->
           
            <!-- Start: Articles -->
            <div  class="row articles">
                <div class="col-sm-6 col-md-4 item" ng-repeat="x in data.products" >
                    <a href="#"><img  class="img-fluid" src="{{x.image_url}}" alt="Introuvable"></a>
                    <h3 class="name" ng-if="x.generic_name_fr!=''"> {{x.generic_name_fr}}</h3>
                    <p class="description" ><b ng-if="x.product_quantity!=''" >Qte:</b>: {{x.product_quantity}}<span ng-if="x.product_quantity!=''" >ml/g</span>    <br><b <b ng-if="x.categories!=''" >Catégorie:</b>  {{ x.categories | limitTo:100 }} ...</p>

                    <span ng-repeat="xcode in x.codes_tags">
                    <a  href="#!product/{{xcode}}" ng-if="(!xcode.includes('x')&&!xcode.includes('code'))" class="action"><i class="fa fa-arrow-circle-right"></i></a>
                    </span>
                </div>
                    </div>
                    <!-- End: Articles -->
                   <div ng-controller="page">
                        <ul class="pagination">
                            <li ng-repeat="page in pagination.pages track by $index" ng-class="{active: pagination.isCurrent(page)}" ng-click="pagination.setCurrent(page)">
                        <a class="page-link" ng-bind="page"  href="#!search/{{search}}/{{page}}" ></a>
                            </li>
                        </ul>
                    </div>
                    </div>
                    </div>
                    <!-- End: Article List -->
                    <!-- Start: Footer Basic -->

                    <div class="footer-basic">
                        <footer>
                            <!-- Start: Social Icons -->
                            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
                            <!-- End: Social Icons -->
                            <!-- Start: Links -->
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#">Home</a></li>
                                <li class="list-inline-item"><a href="#">Services</a></li>
                                <li class="list-inline-item"><a href="#">About</a></li>
                                <li class="list-inline-item"><a href="#">Terms</a></li>
                                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                            </ul>
                            <!-- End: Links -->
                            <!-- Start: Copyright -->
                            <p class="copyright">Foogle © 2019</p>
                            <!-- End: Copyright -->
                        </footer>
                    </div>
               