    
    <!-- Description du produit scanné ou trouvé -->


    <!-- Start: Header -->
    <div class="header-blue">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container"><a class="navbar-brand" href="index.html">Foogle</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    
                    <form class="form-inline mr-auto" target="_self" >
                        <div class="form-group"><label for="search-field"></label>
                            <input class="form-control search-field" type="texte"  placeholder="Saisir le nom du produit" ng-model="search" id="search-field">
                            <a class="btn btn-primary fa fa-search" href="#!search/{{search}}/1"></a>
                            
                        </div>
                    </form>

                    <span class="navbar-text"> </span><a class="btn btn-light action-button" role="button" href="#">Contactez-nous</a></div>
            </div>
        </nav>
    </div>
    <!-- End: Header -->
    <!-- Start: Article Dual Column -->
    <div ng-controller="search">
    <div class="article-dual-column" ng-controller="product">
 

        <div class="container" >
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <!-- Start: Intro -->
                    <div class="intro">
                        <h1 class="text-center">Produit: {{product.product.generic_name_fr}}</h1>
                        <!-- Start: Date and Author 
                        <p class="text-center"><span class="by">by</span> <a href="#">Author Name</a><span class="date">Sept 8th, 2016 </span></p>
                         End: Date and Author -->
                         </div>
                    <!-- End: Intro -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-3 offset-md-1">
                    <div class="img">
                         <img class="img-fluid" src="{{product.product.selected_images.front.display.fr}}"></div>
                    <!-- Start: Toc -->
                    
                    <!-- End: Toc -->
                </div>
                <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0">
                    <!-- Start: Text -->
                    <div class="text">
                        <h2> Catégories </h2>
                        <p><ul>
                            <li ng-repeat="Cat in product.product.categories.split(',')">{{Cat}}</li>  
                        </ul> </p>
                         <h2> Quantité </h2>
                        <p>{{product.product.product_quantity}} g/ml</p>
                         <h2> Magasins </h2>
                       <p><ul>
                            <li ng-repeat="stor in product.product.stores.split(',')">{{stor}}</li>  
                        </ul> </p>
                         <h2> Ingrédients </h2>
                        <p><ul>
                            <li ng-repeat="ing in product.product.ingredients">{{ing.text}}</li>  
                        </ul> </p>
                        <h2> Ingrédients (plus) </h2>
                        <p><ul>
                            <li > {{product.product.ingredients_text_with_allergens_fr}}</li>  
                        </ul> </p>
                        <h2> Ingrédients (en image) </h2>
                        <p><ul>
                            <li > <img class="img-fluid" src="{{product.product.selected_images.ingredients.display.fr}}"></li>  
                        </ul> </p>
                        
                    </div>
                    <!-- End: Text -->
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- End: Article Dual Column -->
    <!-- Start: Footer Basic -->
    <div class="footer-basic">
        <footer>
            <!-- Start: Social Icons -->
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <!-- End: Social Icons -->
            <!-- Start: Links -->
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <!-- End: Links -->
            <!-- Start: Copyright -->
            <p class="copyright">Foogle © 2019</p>
            <!-- End: Copyright -->
        </footer>
    </div>
